{% extends "layout.html" %}

{% block title %}
 | Miscellaneous
{% endblock %}

{% block main %}
<h2>Items in Ccl's Garage</h2>
<div class="container-fluid">
    <ul class="inventory row">
        {% for item in items %}
        <li class="item col">
            <a href="">
                <img src="../static/icons/cart.svg" alt="" height="100" width="100" loading="lazy">
                <h4>{{ item["name"] }}</h4>
                <p>stock: {{ item["stock"] }}</p>
                <p>{{ item["description"] }}</p>
                <p>
                    <span>CA </span>
                    <span>{{ item["price"] | cad }}</span>
                </p>
            </a>
            <button type="button">Add to cart</button>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}