{% extends "layout.html" %}

{% block title %}
 | Miscellaneous
{% endblock %}

{% block main %}
<h2>Items in Ccl's Garage</h2>
<ul>
    <li>
        <a href="">
            <img src="../static/icons/cart.svg" alt="">
            <h4>item 1</h4>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis odio laboriosam dolor quia quo ab sunt deleniti quam, harum autem rem qui dicta modi minus aperiam doloremque magni perferendis recusandae.</p>
            <p>
                <span>CA $</span>
                <span>$30.00</span>
            </p>
            <button type="button">Add to cart</button>
        </a>
    </li>
</ul>
{% endblock %}