{% extends "layout.html" %}

{% block title %}
| Learn
{% endblock %}

{% block main %}
<h2>Learn with Ccl</h2>
<div class="container-fluid">
    <ul class="inventory row">
        {% for lesson in lessons %}
        <li class="item col">
            <a href="">
                <img src="../static/icons/cart.svg" alt="" height="100" width="100" loading="lazy">
                <h4>{{ lesson["name"] }}</h4>
                <p>length: {{ lesson["duration_minutes"] }} minutes</p>
                <p>
                    <span>CA </span>
                    <span>{{ lesson["price"] | cad }}</span>
                </p>
            </a>
            <button type="button">Add to cart</button>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}