{% extends "layout.html" %}

{% block title %}
| Writings
{% endblock %}

{% block main %}
<h2>Ccl's Writings</h2>
<div class="container-fluid">
    <ul class="inventory row">
        {% for writing in writings %}
        <li class="item col">
            <a href="">
                <img src="../static/icons/cart.svg" alt="" height="100" width="100" loading="lazy">
                <h4>{{ writing["name"] }}</h4>
                <p>stock: {{ writing["stock"] }}</p>
                <p>{{ writing["summary"] }}</p>
                <p>
                    <span>CA </span>
                    <span>{{ writing["price"] | cad }}</span>
                </p>
            </a>
            <button type="button">Add to cart</button>
        </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}