{% extends "layout.html" %}

{% block title %}
| Writings
{% endblock %}

{% block main %}
<h2>Ccl's Writings</h2>
<div class="container-fluid">
    <ul class="inventory row">
        <li class="item col">
            <a href="">
                <img src="../static/icons/cart.svg" alt="" height="100" width="100">
                <h4>book 1</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis odio laboriosam dolor quia quo ab
                    sunt deleniti quam, harum autem rem qui dicta modi minus aperiam doloremque magni perferendis
                    recusandae.</p>
                <p>
                    <span>CA $</span>
                    <span>$30.00</span>
                </p>
            </a>
            <button type="button">Add to cart</button>
        </li>
        <li class="item col">
            <a href="">
                <img src="../static/icons/cart.svg" alt="" height="100" width="100">
                <h4>book 1</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis odio laboriosam dolor quia quo ab
                    sunt
                    deleniti quam, harum autem rem qui dicta modi minus aperiam doloremque magni perferendis recusandae.
                </p>
                <p>
                    <span>CA $</span>
                    <span>$30.00</span>
                </p>
            </a>
            <button type="button">Add to cart</button>
        </li>
        <li class="item col">
            <a href="">
                <img src="../static/icons/cart.svg" alt="" height="100" width="100">
                <h4>book 1</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis odio laboriosam dolor quia quo ab
                    sunt
                    deleniti quam, harum autem rem qui dicta modi minus aperiam doloremque magni perferendis recusandae.
                </p>
                <p>
                    <span>CA $</span>
                    <span>$30.00</span>
                </p>
            </a>
            <button type="button">Add to cart</button>
        </li>
        <li class="item col">
            <a href="">
                <img src="../static/icons/cart.svg" alt="" height="100" width="100">
                <h4>book 1</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis odio laboriosam dolor quia quo ab
                    sunt
                    deleniti quam, harum autem rem qui dicta modi minus aperiam doloremque magni perferendis recusandae.
                </p>
                <p>
                    <span>CA $</span>
                    <span>$30.00</span>
                </p>
            </a>
            <button type="button">Add to cart</button>
        </li>
        <li class="item col">
            <a href="">
                <img src="../static/icons/cart.svg" alt="" height="100" width="100">
                <h4>book 5</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis odio laboriosam dolor quia quo ab
                    sunt
                    deleniti quam, harum autem rem qui dicta modi minus aperiam doloremque magni perferendis recusandae.
                </p>
                <p>
                    <span>CA $</span>
                    <span>$30.00</span>
                </p>
            </a>
            <button type="button">Add to cart</button>
        </li>
    </ul>
</div>
{% endblock %}